
.Container {
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: rgba(21, 24, 80, 0.139);
    
    background-color: white;
    padding: 5px;
    filter: drop-shadow(1px 1px 2px rgba(21, 31, 67, 0.244));
    cursor: text;
}

.Container:focus-within {
    border-color: rgb(27, 7, 178);
}

.Label {
    color: rgb(99, 99, 99);
    font-size: 8pt;
    user-select: none;
}

.TextBox {
    border: none;
    width: 99%;
    padding: 0%;
}

.TextBox:focus {
    outline: none;
}